body{
    width: 80%;
    margin: 0;
    padding: 0;
    margin: auto;
    font-family: 'Poppins', sans-serif;
   
}

/* Header menu create start */
.navbar{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}
.menu ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #6e6e6e;

}
.menu ul span{
    margin-left: 20px;
    font-size: 25px;
    
}
.menu ul span a{
    color:#6e6e6e;
}

    /* Header menu create End */

    /* section 01 start */
.container{
    margin-top: 20px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.section-write{
    width: 50%;
}
.section-write h1{
    font-size: 45px;
    margin-bottom: 0;
}
.section-image{

    background-image: url(images/preview-.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-image img{
    width: 85%;
    margin-top: 20px;
}
.section-write a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: rgb(255, 75, 165);
    padding: 8px 12px;
    border-radius: 20px;
   

}
.fa-chevron-right{
    font-size: 20px;
    margin-left: 10px;
    
   
}

    /* section 01 End */



    /* section 02 area start */
.container-2{
    margin-bottom: 50px;
    padding: 70px;
}
.prducts{
    display: grid ;
    grid-template-columns: repeat(3, 340px);
    justify-content: center;
    
}   
.product{
    width: 300px;
    height: 450px;
   
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 10px 8px 12px 5px gainsboro,
    -10px -8px 12px 5px gainsboro;
    
}
.product-header{
    font-size: 30px;
    color: hotpink;
    text-align: center;
}

.product-details .header{
    font-size: 30px;
    margin: 0;
    
}

.product-details p{
    font-size: 13px;
    font-weight: bold;
    color: gray;
    margin: 0;
    
}
.price>p{
    font-size: 23px;
    padding: 10px 0;
    color: black;

}
.star-icon{
    margin-right: 10px;
}
.star-icon .fas{
    color: gold;
}
.learn-more {
    float: right;
   
}
.learn-more a{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 75, 165); 
    font-weight: bold;
}
.fa-arrow-right{
    margin-left: 8px;
}


    /* section 02 area End */

    /* secton 03 start */
.service{
    width: 300px;
    display: flex;
    border: 1px solid green;
    padding: 0%;
    
}
.service-img img{
        width: 70px;
        border-radius: 100%;
        border: 2px solid red;
        margin-top: 50px;
        margin-right: 10px;

    }
    .service-details h1{
        font-size: 20px;
        margin-bottom: 0%;
    }
    .service-details p{
        font-size: 13px;
    }


    /* secton 03 End */

    /* footer area start */

.footer-area{
    height: 220px;
    background-color: rgb(2, 2, 48);
   
       
}
.footer-write{
    text-align: center;
    color: white;
    padding-top: 20px;
   
}
.footer-write h1{
    font-size: 20px;
   
}
 
.footer-write p{
    font-size: 13px;
}

.footer-icon a{
    font-size: 20px;
    background-color: rgba(241, 237, 231, 0.171);
    color: white;
    border-radius: 100%;
    padding: 5px 10px;
    margin-right: 10px;

}
    /* footer area End */